{% extends "mobile/base.html" %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h2>Контакты</h2>

<div class="privacy-text">

<p>Уважаемые покупатели! Мы за конструктивное сотрудничество. Если у вас появились претензии к качеству сервиса, возникли разногласия с персоналом или есть замечания по работе нашего магазина, то вы можете связаться с отделом качества и решить все вопросы в самые короткие сроки. Личное обращение – всегда лучший способ решить любую проблему.
</p>
<p>Кроме этого, мы будем рады получить положительные отзывы о работе нашего магазина и сотрудников.
</p>
<p>Телефон для связи: +375259593369, также вы можете связаться с нами по средствам электронной почты:
    netuvladika@gmail.com.
</p>
<p>Пункт самовывоза:
</p>
<p>г. Минск - проспект Независимости, д. 32Ac1, офис 22
</p>
    <iframe
    src="https://yandex.ru/map-widget/v1/?ll=27.569341%2C53.904772&z=16&mode=whatshere&whatshere[point]=27.569341%2C53.904772&whatshere[zoom]=16"
    width="600"
    height="400"
    frameborder="0"
    allowfullscreen>
</iframe>
</p>Внимание: перед тем как осуществить самовывоз из нашего магазина, необходимо уточнить наличие и оставить заявку у оператора по телефону!
 </p><p>Если Вам необходимо осуществить покупку по безналичному расчету – оформляйте заказ через корзину сайта.
</p>
    <p>Приятных покупок!</p>

    </p>Режим работы:</p>
</p>пн-пт: 9:00-20:00,</p>
</p>сб: 10:00-18:00</p>
</div>
{% endblock %}