{% extends "mobile/base.html" %}
{% load static %}

{% block title %}Список мобильных телефонов{% endblock %}

{% block content %}
<h2>Наши мобильные телефоны</h2>
<div class="mobile-list">
    {% for mobile in mobiles %}
    <div class="mobile-card">
        {% if mobile.image %}
        <img src="{{ mobile.image.url }}" alt="{{ mobile.title }}">
        {% else %}
        <img src="{% static 'images/no-image.png' %}" alt="Нет изображения">
        {% endif %}

        <h3>{{ mobile.title }}</h3>
        <p>Цена: {{ mobile.price }} BYN</p>


        <a href="{% url 'mobiles:mobile_detail' mobile.id %}" class="btn btn-details">Подробнее</a>
    </div>
    {% empty %}
    <p>Пока что нет доступных телефонов.</p>
    {% endfor %}
</div>
{% endblock %}
