{% extends "mobile/base.html" %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<h2>О нас</h2>

<div class="privacy-text">
<p>Мы рады приветствовать Вас в нашем интернет-магазине На Связи.by! У нас Вы можете выбрать и заказать качественные мобильные устройства по доступным ценам и в кратчайшие сроки ех получить!
</p><p>Мы ценим Ваше время, Ваш выбор и дорожим каждым своим клиентом. Поэтому будьте уверены, приобретая у нас товар, вы полностью можете довериться нам! Мы сделаем все возможное — в случае если у Вас возникнут вопросы, связанные с гарантией, ремонтом, мы обещаем не оставить Вас в беде!
</p><p>В случае, если у вас возникнут вопросы, связанные с заказом, вы всегда можете связаться с нашим менеджером-консультантом, который разъяснит все ваши вопросы по заказу. Доставка осуществляется как по Минску, так и по другим регионам Беларуси в самые кратчайшие сроки прямо к дверям вашего дома. Если вы проживаете в любом другом регионе страны, это не является препятствием к осуществлению заказа. Наш товар может заказать житель любого региона Беларуси!
</p>    <p>Приятных вам покупок!</p>

    </p>Наш режим работы:</p>
</p>пн-пт: 9:00-20:00,</p>
</p>сб: 10:00-18:00</p>
</div>
{% endblock %}